# This file is used to configure SSH connections for Visual Studio Code on Windows, Linux, and macOS.
# 1. Windows
#  C:\Users\login_user\.ssh\config
# 2. Linux
#  ~/.ssh/config
# 3. macOS
#  ~/.ssh/config
# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host remotedev
    HostName 172.16.67.180
    User login_user
    Port 22
    IdentityFile C:\Users\login_user\.ssh\id_rsa
    ServerAliveInterval 60
    ServerAliveCountMax 3
    ForwardX11 yes
    ForwardX11Trusted yes
Host client3
    HostName client3
    User corsair
    Port 22
    IdentityFile C:\Users\login_user\.ssh\id_rsa
    ProxyJump remotedev
    ServerAliveInterval 60
    ServerAliveCountMax 3
    ForwardX11 yes
    ForwardX11Trusted yes
