# /etc/systemd/system/macvlan.service

[Unit]
Description=MACVLAN bridge to share a physical network interface with KVM/QEMU hosts.
Documentation=https://www.furorteutonicus.eu/2013/08/04/enabling-host-guest-networking-with-kvm-macvlan-and-macvtap/
After=network-online.target
Wants=network-online.target
Before=libvirt-guests.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/macvlan.sh

[Install]
WantedBy=multi-user.target

