[Unit]
Description=VNC Server (XDMCP Query via GDM3) Socket for Display :9 (Port 5909)

[Socket]
ListenStream=5909
Accept=yes

[Install]
WantedBy=sockets.target
